<template>
  <div class="hello">
    <h1>Results</h1>
    <h2>Your Score: {{ score }} of 100</h2>

    <div class="row">
      <div class="column">
        <div v-for="questions of results" :key="questions.question">
          <BaseAnswer :question="questions">          
          </BaseAnswer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BaseAnswer from '../Base/BaseAnswer';

export default {
  name: 'Results',
  components: {
    BaseAnswer,
  },
  props: ['results', 'score'],
  created() {
    this.score = this.$route.params.score
    this.results = this.$route.params.results
  },

  methods: {
    onBtnClicked() {
      this.$emit('btn-clicked', this.response);
    },
  },
};
</script>

<style>
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.column {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 5em;
  margin-bottom: 100px;
  background: white;
}
.hello {
  background: lightcyan;
}
</style>
