<template>
  <router-link to="/TriviaGame">
    <div class="start-screen">
      <h1>Trivia Game</h1>
      <h5>Click anywhere to start game</h5>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'StartScreen',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.start-screen {
  width: 100%;
  height: 100%;
  text-align: center;
}
a {
  color: #42b983;
}
</style>
