<template>
  <div class="app-container">
  <div v-if="currentQuestion">

    <div class="header-container" >
      <div class="score">
        <h2>Score: {{ this.score }}</h2>
      </div>

      <div class="header">
        <h1>TriviaGame</h1>
      </div>
      <div class="score">
        <h2>Question {{ this.questionCount}} : 10</h2>
      </div>
    </div> <Question
      :question="currentQuestion"
      @question-answered="updateQuestion"
      :key="currentQuestion.question"
    />
      </div>
   <Results v-if="questionsRemaining == -1" :results="results" :score="score" />

  </div>    

</template>

<script>
import { fetchQuestions } from '../../api/FetchQuestions.js';
import Question from '../Question/Question.vue';
import Results from './Results.vue';


export default {
  name: 'TriviaGame',
  components: {
    Question,
    Results,
  },
  
  created() {
    fetchQuestions().then((response) => {
      this.response = response;
      this.currentQuestion = response[this.questionsRemaining];
    });
  },
  data() {
    return {
      response: null,
      currentQuestion: null,
      results: [],
      score: 0,
      questionsRemaining: 9,
      questionCount: 1,
    };
  },
  methods: {
    updateQuestion(question, answer) {
      this.updateScore(answer);   
      this.addToResults(question, answer);  
      this.questionsRemaining = this.questionsRemaining - 1;


      if (this.questionsRemaining == -1) {
        this.navToResult()
      }

      if(this.questionsRemaining<0){
        this.currentQuestion=null
        return;
      }
      this.currentQuestion = this.response[this.questionsRemaining];
      this.questionCount++

    },
    updateScore(answer) { 
      if (answer == this.currentQuestion.correct_answer) {
        this.score += 10;
      }
    },
    addToResults(question, answer){
         this.results.push({
        question: question.question,
        correct_answer: question.correct_answer,
        answer: answer,
      });
    },
    navToResult() {
      this.$router.push({name: 'Results', params:{score:this.score, results:this.results }})
    }

  },
};
</script>

<style>
.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header-container {
  display: flex;

  flex-direction: row;
}
.score {
  flex: 0.25;
}
.header {
  flex: 0.5;
}
</style>