<template>
  <div class="questionResult">
    <h4 class="elQuestion">Question: {{displayedQuestion}}</h4>
    <div class="comparison">
      <div class="yourAnswerLabel">Your Answer:</div>
      <div class="corrAnswerLabel">Correct answer:</div>
    </div>
    <div class="comparison">
      <div v-if="question.answer==question.correct_answer" class="yourAnswerCorrect">{{question.answer}}</div>
      <div v-else class="yourAnswerIncorrect">{{question.answer}}</div>
      <div class="corrAnswer">{{question.correct_answer}}</div>
    </div>
  </div>
</template>

<script>
export default {
   created() {
      this.displayedQuestion = this.question.question
      .toString()
      .replace(/&quot;/g, '"');
  },
  props: {
    question: {
      type: Object,
      required: true,
      default: function() {
        return {
          question: '',
          correct_answer: '',
          yourAnswer: '',
        };
      },
    },
  },
};
</script>

<style>
.questionResult {
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 25px;
  border: 2px solid black;

}
.comparison {
  display: flex;
}
.yourAnswerCorrect {
  border-radius: 25px;
  background: green;
  flex: 1;
  padding: 0.5em;
  margin: 0.5em;
  float: left;
  color: white;
}

.yourAnswerIncorrect {
  border-radius: 25px;
  background: red;
  flex: 1;
  padding: 0.5em;
  margin: 0.5em;
  float: left;
  color: white;
}

.corrAnswer {
  float: right;
  flex: 1;
  margin: 0.5em;
  background-color: #4172b8;
  color: white;
  border-radius: 1rem;
  font-size: 1em;
  padding: 0.5em;
}
.yourAnswerLabel {
  flex: 1;
  margin: 0.5em;
  float: left;
}
.corrAnswerLabel {
  float: right;
  flex: 1;
  margin: 0.5em;
  font-size: 1em;
}
.elQuestion {
  border-radius: 25px;
  border: 1px solid black;
  padding: 1em;
  height: 5em;
}
</style>
