<template>
  <div class="btn-option"
  >  <slot></slot>
  </div>
</template>

<script>
export default {}


</script>

<style>
.btn-option {
  border: 2px solid #4d86d7;
  background-color: #4172b8;
  color: white;
  border-radius: 1rem;
  font-size: 1em;
  padding: 1.5em;
  margin: 1em;
  
};
.btn-option:hover {
  color: white;
}


</style>