<template>
  <li @click="onOptionClicked">
    <BaseOption> {{ option }} </BaseOption>
  </li>
</template>

<script>
import BaseOption from '../Base/BaseOption';

export default {
  components: {
    BaseOption,
  },
  props: ['option'],
  methods: {
    onOptionClicked() {
      // Emit an event to the parent.
      this.$emit('option-clicked', this.option);
    },
  },
};
</script>

<style></style>
