<template>
  <section>
    <h3>{{ displayedQuestion }}</h3>
    <ul class="options">
      <QuestionOptionListItem
        v-for="option of options"
        :key="option"
        :option="option"
        @option-clicked="handleOptionClicked"
      >
      </QuestionOptionListItem>
    </ul>
  </section>
</template>

<script>
import QuestionOptionListItem from './QuestionOptionListItem';

export default {
  components: {
    QuestionOptionListItem,
  },
  created() {
    this.createOptionList();
    this.displayedQuestion = this.question.question
      .toString()
      .replace(/&quot;/g, '"');
  },
  props: {
    question: {
      type: Object,
      required: true,
      default: function() {
        return {
          difficulty: '',
          question: '',
          correct_answer: '',
          incorrect_answers: [],
        };
      },
    },
  },
  data() {
    return {
      displayedQuestion: '',
      options: [],
      error: '',
    };
  },
  methods: {
    handleOptionClicked(answer) {
      this.$emit('question-answered', this.question, answer);
    },
    createOptionList() {
      let allOptions = this.question.incorrect_answers;
      allOptions.push(this.question.correct_answer);
      allOptions = this.shuffleArray(allOptions);
      this.options = allOptions;
    },
    shuffleArray(array) {
      return array.sort(() => Math.random() - 0.5);
    },
  },
};
</script>

<style>
ul {
  list-style-type: none;
  padding: 0;
  margin-left: 25%;
  margin-right: 25%;
}
</style>
