<template>
  <div id="app">
     <router-view />    
  </div>
</template>

<script>

export default {
  name: 'App',
}
/*
<div @click="startGame" id="container">
      <component v-bind:is="theComponent"></component>
    </div>
*/
</script>

<style>
body, html {  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}
</style>
